ion-icon {
    position: absolute;
        top: 30%;
        left: 50%;
        height: 50%;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
        display: block;

}

h2 {
    text-align: center;
    margin-top: 90%;
}

p {
    text-align: center;
}